  <body class="bg-light">

  <div class="row p-4 justify-content-md-center m-0 ">

    <div class="col-md-10 order-md-1">
      <h4 class="mb-3">Character sheet</h4>
      <hr class="mb-3">
      <form class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Character name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Please enter your character name.
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="username">Player</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" id="username" placeholder="Username" required="">
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="origin">Origin <span class="text-muted">(Background, history)</span></label>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          <div class="invalid-feedback">
            Please enter your character origin.
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 mb-3">
            <label for="race">Race</label>
            <select name="selectRace" [(ngModel)]="selectedRace" class="custom-select d-block w-100">
              <option *ngFor="let selectRace of races" [ngValue]="selectRace">{{ selectRace.raceName }}</option>
            </select>

          </div>
          <div class="col-md-2 mb-3">
            <label for="age">Age</label>
            <select class="custom-select d-block w-100" id="age" required="">
              <option value="">Choose...</option>
              <option>1</option>
              <option>100</option>
            </select>
            <div class="invalid-feedback">
              Please select an age.
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="sex">Sex</label>
            <select class="custom-select d-block w-100" id="sex" required="">
              <option value="">Choose...</option>
              <option>Male</option>
              <option>Female</option>
            </select>
            <div class="invalid-feedback">
              Please select a sex.
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="zip">Height</label>
            <select class="custom-select d-block w-100" id="height" required="">
                <option value="">Choose...</option>
                <option>1.2m</option>
                <option>2m</option>
              </select>
            <div class="invalid-feedback">
                Please select a heigth.
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="zip">Weight</label>
            <select class="custom-select d-block w-100" id="height" required="">
                <option value="">Choose...</option>
                <option>50kg</option>
                <option>100kg</option>
              </select>
            <div class="invalid-feedback">
                Please select a weight.
            </div>
          </div>

        </div>
              <div *ngIf="selectedRace" class="col-md-2 mb-3" class="col-lg-2 mb-3">
                <div class="col-md-1 mb-3">
                  <h4 class="-md-3 d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">{{ selectedRace.raceName }} </span>
                    <span class="text-muted ml-3">RF:{{ resiCalc(selectedRace.str, selectedRace.vig) }}</span>
                    <span class="text-muted ml-3">RM:{{ resiCalc(selectedRace.int, selectedRace.ess) }}</span>
                    <!-- <span class="ml-3 badge badge-secondary badge-pill">3</span> -->
                  </h4>
                    <table class="table table-borderless text-center">
                        <thead>
                          <tr>
                            <th>Atributes</th>
                            <th>Base</th>
                            <th></th>
                            <th>Value</th>
                            <th></th>
                            <th>Bonus</th>
                            <th></th>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Strenth:</th>
                            <td>{{ selectedRace.str }}</td>
                            <td>+</td>
                            <td>0</td>
                            <td>+</td>
                            <td>0</td>
                            <td>=</td>
                            <td>6</td>
                          </tr>
                          <tr>
                            <th scope="row">Agility:</th>
                            <td>{{ selectedRace.agi }}</td>
                            <td>+</td>
                            <td>0</td>
                            <td>+</td>
                            <td>0</td>
                            <td>=</td>
                            <td>6</td>
                          </tr>
                          <tr>
                            <th scope="row">Vigor:</th>
                            <td>{{ selectedRace.vig }}</td>
                            <td>+</td>
                            <td>0</td>
                            <td>+</td>
                            <td>0</td>
                            <td>=</td>
                            <td>6</td>
                          </tr>
                          <tr>
                            <th scope="row">Inteligence:</th>
                            <td>{{ selectedRace.int}}</td>
                            <td>+</td>
                            <td>0</td>
                            <td>+</td>
                            <td>0</td>
                            <td>=</td>
                            <td>6</td>
                          </tr>
                          <tr>
                            <th scope="row">Essence:</th>
                            <td>{{ selectedRace.ess }}</td>
                            <td>+</td>
                            <td>0</td>
                            <td>+</td>
                            <td>0</td>
                            <td>=</td>
                            <td>6</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                <div class="col-md-1 mb-3">
                  <h4 class="text-secondary">Pericias Naturais</h4>
                  <table class="table table-borderless text-center">
                    <thead>
                      <tr>
                        <th>Naturais</th>
                        <th>Base</th>
                        <th></th>
                        <th>Value</th>
                        <th></th>
                        <th>Bonus</th>
                        <th></th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Atleticas:</th>
                        <td>{{ arredondaValor(selectedRace.agi, selectedRace.str) }}</td>
                        <td>+</td>
                        <td>0</td>
                        <td>+</td>
                        <td>0</td>
                        <td>=</td>
                        <td>6</td>
                      </tr>
                      <tr>
                        <th scope="row">Furtividade:</th>
                        <td>{{ arredondaValor(selectedRace.agi, selectedRace.int) }}</td>
                        <td>+</td>
                        <td>0</td>
                        <td>+</td>
                        <td>0</td>
                        <td>=</td>
                        <td>6</td>
                      </tr>
                      <tr>
                        <th scope="row">Iniciativa</th>
                        <td>{{ arredondaValor(selectedRace.agi, selectedRace.int) }}</td>
                        <td>+</td>
                        <td>0</td>
                        <td>+</td>
                        <td>0</td>
                        <td>=</td>
                        <td>6</td>
                      </tr>
                      <tr>
                        <th scope="row">Monataria:</th>
                        <td>{{ arredondaValor(selectedRace.agi, selectedRace.int) }}</td>
                        <td>+</td>
                        <td>0</td>
                        <td>+</td>
                        <td>0</td>
                        <td>=</td>
                        <td>6</td>
                      </tr>
                      <tr>
                        <th scope="row">Natureza:</th>
                        <td>{{ arredondaValor(selectedRace.int, selectedRace.ess) }}</td>
                        <td>+</td>
                        <td>0</td>
                        <td>+</td>
                        <td>0</td>
                        <td>=</td>
                        <td>6</td>
                      </tr>
                      <tr>
                        <th scope="row">Percepcao:</th>
                        <td>{{ 6 }}</td>
                        <td>+</td>
                        <td>0</td>
                        <td>+</td>
                        <td>0</td>
                        <td>=</td>
                        <td>6</td>
                      </tr>
                      <tr>
                        <th scope="row">Prestidigitacao:</th>
                        <td>{{ arredondaValor(selectedRace.agi, selectedRace.agi) }}</td>
                        <td>+</td>
                        <td>0</td>
                        <td>+</td>
                        <td>0</td>
                        <td>=</td>
                        <td>6</td>
                      </tr>
                      <tr>
                        <th scope="row">Sociedade:</th>
                        <td>{{ arredondaValor(selectedRace.int, selectedRace.int) }}</td>
                        <td>+</td>
                        <td>0</td>
                        <td>+</td>
                        <td>0</td>
                        <td>=</td>
                        <td>6</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
        <hr class="mb-4">


          <div class="improvements order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Improvements</span>
              <span class="badge badge-secondary badge-pill">3</span>
            </h4>

            <table class="table table-bordered text-center align-middle improvements-table">
                <tbody>
                  <tr>
                    <th scope="row">Lvl 1</th>
                    <td><button
                      type="button" class="btn btn-outline-secondary test" popoverTitle="Ambidestria"
                      [autoClose]="'outside'" ngbPopover="O personagem consegue usar bem as duas mãos, sem receber os redutores de
                      50% nos testes com a mão inábil."
                    >
                      Ambidestria
                    </button></td>
                    <td><button
                      type="button" class="btn btn-outline-secondary test" popoverTitle="Psiônico - Telecinese"
                      [autoClose]="'outside'" ngbPopover="O personagem pode mover matéria na proporção de 10kg para cada 1 de EC no
                      custo e limitado ao seu RM x20 kg. Seres vivos podem tentar resistir com um teste de
                      RF+3 contra RM do psiônico."
                    >
                    Psiônico - Telecinese
                    </button></td>
                    <td><button
                      type="button" class="btn btn-outline-secondary test" popoverTitle="Elo Mágico(Ar)"
                      [autoClose]="'outside'" ngbPopover="O personagem possui uma ligação e a capacidade de utilizar uma das energias
                      mágicas: fogo, terra, água ou ar. Ganho de +1 de focus no elemento escolhido, podendo
                      aumentar seu valor posteriormente.
                      Pode ser adquirido uma vez para cada elemento."
                    >
                    Elo Mágico(Ar)
                    </button></td>
                    <td><button
                      type="button" class="btn btn-outline-secondary test" popoverTitle="Concentração de Ferro"
                      [autoClose]="'outside'" ngbPopover="Os testes de RM defensivos, Relembrar Conhecimentos, Conjuração,
                      Inteligência e outros que especifiquem, somam um bônus de +1."
                    >
                    Concentração de Ferro
                    </button></td>

                    <td><button
                      type="button" class="btn btn-outline-secondary test" popoverTitle="Inteligencia"
                      [autoClose]="'outside'" ngbPopover="Atribute value."
                    >
                      Inteligencia
                    </button></td>
                    <td><button
                      type="button" class="btn btn-outline-secondary test" popoverTitle="Agility"
                      [autoClose]="'outside'" ngbPopover="Atribute value."
                    >
                      Agilidade
                    </button></td>
                  </tr>
                  <tr>
                    <th scope="row">Lvl 2</th>
                    <td class="test"><button
                      type="button" class="btn btn-outline-secondary test" popoverTitle="Estado: Dançarino das Chamas"
                      [autoClose]="'outside'" ngbPopover="A manifestação do fogo presente dentro do próprio ser o incita a um estado
                      de batalha, alimentado pela combustão o personagem recebe bônus de +1 em Ataque e
                      Iniciativa para cada nível de patamar do dançarino. E seus ataques recebem +q. de fogo
                      de dano mágico."
                    >
                    Estado: Dançarino das Chamas
                    </button></td>
                  </tr>
                  <tr>
                    <th scope="row">Lvl 3</th>
                    <td><button
                        type="button" class="btn btn-outline-secondary" popoverTitle="Elo Elemental Exclusivo(Fogo)"
                        [autoClose]="'outside'" ngbPopover="*Elo Elemental Exclusivo
                        Descrição: O personagem concluiu a formação básica de elementalista na escola na qual
                        estuda/estudou. Adquire uma quantidade de magias de 1° e/ou 2° círculo igual a sua INT/2
                        e +1 em conjuração das suas magias elementais para cada ponto de quintessência acima de
                        5."
                      >
                      Elo Elemental Exclusivo(Fogo)
                      </button></td>
                  </tr>
                  <tr>
                    <th scope="row">Lvl 4</th>
                    <td><button
                      type="button" class="btn btn-outline-secondary" popoverTitle="Elo Elemental Exclusivo(Ar)"
                      [autoClose]="'outside'" ngbPopover="*Elo Elemental Exclusivo
                      Descrição: O personagem concluiu a formação básica de elementalista na escola na qual
                      estuda/estudou. Adquire uma quantidade de magias de 1° e/ou 2° círculo igual a sua INT/2
                      e +1 em conjuração das suas magias elementais para cada ponto de quintessência acima de
                      5."
                    >
                    Elo Elemental Exclusivo(Ar)
                    </button></td>
                  </tr>
                  <tr>
                    <th scope="row">Lvl 5</th>
                    <td><button
                      type="button" class="btn btn-outline-secondary" popoverTitle="Contra-Ataque"
                      [autoClose]="'outside'" ngbPopover="A manobra de Contra-Ataque deve ser anunciada antes do teste da manobra de
                      Aparar/Esquivar ser executada, recebendo redutor de -2. O dano do Contra-Ataque tem
                      uma redução de -50% do dano total pela Força."
                    >
                    Contra-Ataque
                    </button></td>
                    <td><button
                      type="button" class="btn btn-outline-secondary" popoverTitle="Estado: Lâmina Lunar"
                      [autoClose]="'outside'" ngbPopover="Este estado tem dois estilos diferentes de combate: Lua Solitária e Duas
                      Luas. Estilo Lua Solitária: enquanto o espadachim utilizar somente uma espada,
                      recebe bônus de +1 em Aparar para cada nível de patamar e pode tentar uma manobra
                      de Esquivar se falhar o aparar por menos de 4 pontos de diferença, sendo este valor
                      como redutor na sua manobra de Esquiva. Estilo Duas Luas: enquanto o espadachim
                      utilizar duas espadas, recebe bônus de +1 em Atacar para cada nível de patamar e seus
                      ataques extras não acumulam redutores."
                    >
                    Estado: Lâmina Lunar
                    </button></td>
                    <td><button
                      type="button" class="btn btn-outline-secondary" popoverTitle="Focus Extra I(Fogo)"
                      [autoClose]="'outside'" ngbPopover="O personagem adquire +2 em um focus que já tenha."
                    >
                    Focus Extra I(Fogo)
                    </button></td>
                  </tr>
                  <tr>
                    <th scope="row">Lvl 6</th>
                    <td><button
                      type="button" class="btn btn-outline-secondary" popoverTitle="Aparar Geral"
                      [autoClose]="'outside'" ngbPopover="Com este aprimoramento o personagem é treinado em defender ataques
                      utilizando sua perícia de combate. Não recebe mais a penalidade (-3) por usar essa manobra
                      contra categorias diferentes de ataque."
                    >
                    Aparar Geral
                    </button></td>
                  </tr>
                  <tr>
                    <th scope="row">Lvl 7</th>
                    <td><button
                      type="button" class="btn btn-outline-secondary" popoverTitle="Vontade de Combate"
                      [autoClose]="'outside'" ngbPopover="Durante um combate o personagem com esse aprimoramento pode ativá-lo,
                      recebendo um bônus de +1 em testes de Atacar, Bloquear/Aparar e Resistência Física."
                    >
                    Vontade de Combate
                    </button></td>
                  </tr>
                </tbody>
              </table>

            </div>

            <div class=" order-md-2 mb-4">

<div class="col-md-4 mb-3" *ngFor="let selectedRace of races">

             </div>
            </div>

                <form class="card p-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                  </div>
                </form>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
      </form>
    </div>
  </div>
